<div class="piano" >
  <div class="piano__note piano__note--has-next-note"></div>
  <div class="piano__note__container">
    <div class="piano__note--sharp"></div>
    <div class="piano__note no-borders  "></div>
  </div>
  <div class="piano__note">
  </div>
  <div class="piano__note__container">
    <div class="piano__note--sharp"></div>
    <div class="piano__note no-borders  "></div>
  </div>
  <div class="piano__note piano__note--has-previous-note piano__note--has-next-note"></div>
  <div class="piano__note piano__note piano__note--has-next-note"></div>
  <div class="piano__note__container">
    <div class="piano__note--sharp"></div>
    <div class="piano__note no-borders  "></div>
  </div>
  <div class="piano__note  "></div>
  <div class="piano__note__container">
    <div class="piano__note--sharp"></div>
    <div class="piano__note no-borders  "></div>
  </div>
  <div class="piano__note "></div>
  <div class="piano__note__container">
    <div class="piano__note--sharp"></div>
    <div class="piano__note no-borders  "></div>
  </div>
  <div class="piano__note"></div>
</div>
